/* You can add global styles to this file, and also import other style files */
.sv-root-modern, .sv-main {
    position: relative;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
  }