.fishboneChart {
    display: flex;
    justify-items: center;
    min-height: 300px;
    margin: 1.5em;
    overflow: hidden;
}

.debugBorder * {
    border: 1px solid black;
}

.debugBorderSingle {
    border: 1px solid black;
}

.top {
    border-bottom: 3px solid;
    border-radius: 5%;
}

.bottom {
    border-top: 2px solid;
    border-radius: 5%;
}

.left {
    border-left: 3px solid;
}

.right {
    border-right: 3px solid;
}

.all {
    border: 2px solid;
}

.fishboneElements {
    display: flex;
    flex-direction: column;
}

.fishboneElementGroup {
    flex: 1;
    display: flex;
}

.fishboneElementLabel {
    text-align: center;
    display: flex;
    align-items: center;
    padding: 1em;
    font-size: larger;
}

.fishboneElement {
    /* display: flex; */
    justify-content: center;
    font-size: 0.95em;
    font-weight: 400;
    color: white;
    padding: .5em;
}

.fishboneElementAndLineTop {
    display: flex;
    flex: 1;
    width: 100%;
    justify-content: center;
    align-items: flex-end;
}

.fishboneElementAndLineBottom {
    display: flex;
    flex: 1;
    width: 100%;
    justify-content: center;
    align-items: baseline;
}

.rootFishboneElement {
    display: flex;
    flex-direction: column;
    flex: 3;
    font-size: 1em;
    font-weight: 400;
    text-align: center;
}

.compoundElement {
    height: 5em;
    display: flex;
    flex: 1;
}

.compoundElementBottom {
    align-items: flex-end;
    justify-content: end;
}

.compoundElementTop {
    justify-content: end;
}

.legend {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 2em;
    margin-top: 1em;
}

.legendLabel {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #4f4f4f;
    font-size: 0.95em;
    font-weight: bolder;
    margin-bottom: 6px;
    cursor: pointer;
    width: 50%;
}

.fortissBlue_ {
    background: rgb(0, 70, 150, 1);
}

.fortissBlueBorder {
    border-color: rgb(0, 70, 150) !important;
}

.fortissOrangeBorder {
    border-color: rgb(225, 205, 0) !important;
}

.fortissBlueTopBottom {
    background: linear-gradient(to top right, transparent calc(50% - 2px), rgb(0, 70, 150, 0.8), transparent calc(50% + 2px));
}

.fortissBlueBottomTop {
    background: linear-gradient(to bottom right, transparent calc(50% - 2px), rgb(0, 70, 150, 0.8), transparent calc(50% + 2px));
}

.labelSquare {
    flex: 1;
    margin: 0 .25em 0 .25em;
}

.labelLineThrough {
    text-decoration: line-through;
    font-size: 0.95em;
    font-weight: 400;
    color: #4f4f4f;
}

.label_ {
    font-size: 0.8em;
    width: 100%;
}

.problem {
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.problemValue {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.95em;
    font-weight: bold;
    color: #ffffff;
    padding: 5px 10px 5px 10px;
}

.percentageValue {
    font-weight: bolder;
}

.diagonalLine {
    flex: 1;
}

.lineEffect {
    width: 100%;
    border-bottom: 3px solid;
    border-color: rgb(0, 70, 150, 0.6) !important;
}

.fishboneElementContent {
    display: flex;
    flex: 1;
    justify-content: center;
    min-height: 50%;
}
